/*
    Primary: #10345C
    Secondary: #820D26
    background: #ffffff
    Font color: #000000
    Font type: Roboto
*/

.tbsrjmun{
    background: #ffffff;
}

.navbar, .navbar-expand-lg{
    background: #10345C;
}

.navbar-brand, .nav-link{
    color: #ffffff;
}

.nav-link:focus, .nav-link:hover{
    color: #ffffff;
    opacity: 0.5;
}

.navbar-toggler{
    background: #10345C;
    text-decoration: none;
}

.hamburger{
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.btn-tbsmun{
    background: #820D26;
    border: none;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
}

.btn-tbsmun:hover, .btn-tbsmun:active{
    background: #820D26;
    color: #ffffff;
    opacity: 0.5;
}