/*
    Primary: #10345C
    Secondary: #820D26
    background: #ffffff
    Font color: #000000
    Font type: Roboto
*/

.gomun{
    background: #ffffff;
}

.gomun-top{
    background: #10345C;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
}

.about-gomun{
    color: #000000;
    background: #ffffff;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card{
    background: #ffffff;
    color: #000000;
    border: none;
    align-items: center;
    margin: 10px 10px 10px 10px;
    padding: 40px 20px 40px 20px;
}

.btn-tbsmun{
    background: #820D26;
    color: #ffffff;
    border: none;
}

.btn-tbsmun:hover, .btn-tbsmun:active{
    background: #820D26;
    color: #ffffff;
    border: none;
    opacity: 0.5;
}

.btn-back{
    background: #ffffff;
    color: #10345C;
    border-color: black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 40px;
    border-radius: 90%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}